<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menuIsOn</key>
	<true/>
	<key>spirit</key>
	<dict/>
	<key>font size</key>
	<string>15.0</string>
	<key>font</key>
	<string>TimesNewRomanPS</string>
	<key>fontBold</key>
	<string></string>
	<key>chapter</key>
	<string>1</string>
	<key>book</key>
	<string>1</string>
	<key>strongsNumbers</key>
	<true/>
	<key>modules</key>
	<array/>
	<key>shared</key>
	<dict/>
</dict>
</plist>
