<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>portraitNumber</key>
	<integer>2</integer>
	<key>strongs</key>
	<true/>
	<key>fontSize</key>
	<string>20.0</string>
	<key>modules</key>
	<array>
		<string>kjv</string>
	</array>
	<key>lastChapterIndex</key>
	<integer>1</integer>
	<key>lastBookIndex</key>
	<integer>1</integer>
</dict>
</plist>
